.place__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 460px;
    align-content: end;
    margin: 0;
}

@media screen and (max-width: 320px), (max-width: 440px), (max-width: 500px) {
    .place__title {
        margin: auto 4.5% auto;
        max-width: 288px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
    }
}