.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    max-width: 460px;
    align-content: end;
    margin: 0;
}


@media screen and (max-width: 960px) {
    .place__title {
        margin: auto 4.5% auto;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 440px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}