.intro__stat {
    margin: 0;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    text-align: left;
    max-width: 288px;
}

