@import url("./__illustration/photo-grid__illustration.css");
.photo-grid {
    display: grid;
    margin: 92px auto auto;
    grid-template-columns: repeat(auto-fit, 284px);
    grid-gap: 16px 16px;
    justify-content: center;
    max-width: 1184px;
}


@media screen and (max-width: 1220px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 970px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 352px);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 750px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 330px);
        grid-gap: 15px;
    }
}

@media screen and (max-width: 710px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 310px);
        /*grid-gap: 14px;*/
    }
}
@media screen and (max-width: 660px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 300px);
        /*grid-gap: 14px;*/
    }
}
@media screen and (max-width: 640px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 288px);
        /*margin: auto;*/
        /*grid-gap: 14px;*/
    }
}




