@import url("./__logo/header__logo.css");
@import url("./__column-lang-link/header__column-lang-link.css");
@import url("__column-lang-links/header__columns-lang-link.css");
@import url("__link/header__link.css");
@import url("./__link/_active/header__link_active.css");

.header {
    display: flex;
    margin: 0 auto 56px;
    padding: 28px 0 0;
    max-width: 1184px;
    justify-content: space-between;
}


@media screen and (max-width: 1252px) {
    .header{
        margin-left: 4.684%;
        margin-right: 4.684%;
    }
}

@media screen and (max-width: 800px) {
    .header {
        margin-left: 3.1%;
        margin-right: 3.1%;
    }
}

@media screen and (max-width: 420px) {
    .header {
        margin-left: 5%;
        margin-right: 5%;
    }
}