.footer__column {
    margin: 0;
}

@media screen and (max-width: 1215px) {
    .footer__column{
        padding-left: 4.5%;
    }
}

@media screen and (max-width: 680px) {
    .footer__column{
        padding-left: 0;
    }
}