@import url("./__link/website__link.css");
@import url("./__url/website__url.css");
@import url("./__url-heading/website__url-heading.css");

.website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 320px), (max-width: 440px), (max-width: 500px) {
    .website {
        display: none;
    }
}