.cover__background {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.75s ease-in-out;
    opacity: .7;
}