.lead__caption {
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 8px 0 0;
}

@media screen and (max-width: 1040px) {
    .lead__caption{
        margin-right: 4.5%;
        margin-left: 4.5%;
    }
}
