.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
    margin: 245px auto 0;
    max-width: 560px;
}
@media screen and (max-width:1024px ) {
    .cover__title{
        margin-top: 195px;
    }
}
@media screen and (max-width:768px ) {
    .cover__title{
        margin-top: 115px;
    }
}

@media screen and (max-width:680px ) {
    .cover__title{
        font-size: 60px;
        line-height: 63px;
        max-width: 410px;
    }
}
@media screen and (max-width: 610px) {
    .cover__title{
        font-size: 50px;
        line-height: 53px;
        max-width: 380px;
        margin-top: 85px;
    }
}
@media screen and (max-width: 500px ) {
    .cover__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 42px;
    }
}

@media screen and (max-width: 360px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 33px;
    }
}
