.cover__title {
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
    margin: 33% auto 0;
    max-width: 560px;
}
@media screen and (max-width: 320px), (max-width: 440px), (max-width: 500px) {
    .cover__title {
        max-width: 288px;

        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        margin: 33px 33px 0;
    }
}
@media screen and (max-width:665px), (max-width: 768px), (max-width: 948px), (max-width: 999px){
    .cover__title{
        font-weight: 900;
        font-size: 72px;
        line-height: 76px;
    }
}