@import url("./__image/place__image.css");
@import url("./__title/place__title.css");
@import url("/__paragraph/place__paragraph.css");

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 460px));
    grid-gap: 48px 3%;
    min-width: 320px;
    margin: 80px 4.5% auto;
    justify-content: center;
}

.place:nth-child(1) {
    margin-top:0;
}

@media screen and (max-width: 320px), (max-width: 440px), (max-width: 500px) {
    .place {
        grid-gap: 32px;
        margin: 80px 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    }
}

@media screen and (max-width:665px), (max-width: 768px), (max-width: 948px), (max-width: 999px){
    .place{
        grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
        grid-gap: 28px 3%;
    }
}
