@import url("./__author/footer__author.css");
@import url("./__column/footer__column.css");
@import url("./__column-link/footer__column-link.css");
@import url("./__column-links/footer__column-links.css");
@import url("./__link/footer__link.css");

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    margin: 92px auto auto;
    padding-bottom: 18px;
    max-width: 1184px;
    width: 100%;
}


@media screen and (max-width: 680px) {
    .footer{
        grid-gap: 48px;
        margin: 64px 0 0;
    }
}