.footer__column-links {
    display: flex;
    flex-direction: row;
    max-width: 465px;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 680px) {
    .footer__column-links{
        flex-direction: column;
        margin: 0;
        padding-left: 4.5%;
    }
}