@import url("_link/place__website_link.css");
@import url("_url-heading/place__website_url-heading.css");

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 960px) {
    .place__website {
        margin-left: 4.5%;
    }
}


@media screen and (max-width: 680px) {
    .place__website {
        display: none;
    }
}