.intro__title {
    font-family: Inter, serif;
    font-weight: 900;
    margin: 0;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    grid-column: 1/4;
    max-width: 690px;
}

@media screen and (max-width: 750px){
    .intro__title {
        font-size: 45px;
    }
}

@media screen and (max-width: 618px){
    .intro__title {
        font-size: 35px;
        line-height: 35px;
    }
}


@media screen and (max-width: 320px){
    .intro__title {
        max-width: 288px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        grid-column: 1/4;
        margin-right: 14%;
    }
}